In [1]:
import numpy as np
import pandas as pd

# Task 1

In [2]:
li=[1,2,3,4,5]
ni=np.array([1,2,3,4,5])
print(li[1:3])
print(ni[1:3])

[2, 3]
[2 3]

In [3]:
cast=np.array([["kate winslet","Leo di caprio","Billy Zane","Kathy Bates"],
               ["Leo di caprio","Toby Maguire","Carry Mulligan","Joel Edgerton"],
               ["Toby Maguire","Kirsten Dunst","Willem Dafoe","James Franco"]])
movie=np.array([["Titanic","Titanic","Titanic","Titanic"],
                ["The Great Gatsby","The Great Gatsby","The Great Gatsby","The Great Gatsby"],
                ["Spiderman","Spiderman","Spiderman","Spiderman"]])

In [4]:
print(movie=="Spiderman")
selected_movie=cast[movie=="Spiderman"]
print(selected_movie)

[[False False False False]
 [False False False False]
 [ True  True  True  True]]
['Toby Maguire' 'Kirsten Dunst' 'Willem Dafoe' 'James Franco']

In [5]:
np.savez('test.npz',cast=cast , movie = movie , selected_movie = selected_movie)

In [6]:
data=np.load("test.npz")
for i in data:
    print(i)
cast_new=data["cast"]
movies_new=data["movie"]
selected_movie_new=data["selected_movie"]
print(cast_new)
print(movies_new)
print(selected_movie_new)

cast
movie
selected_movie
[['kate winslet' 'Leo di caprio' 'Billy Zane' 'Kathy Bates']
 ['Leo di caprio' 'Toby Maguire' 'Carry Mulligan' 'Joel Edgerton']
 ['Toby Maguire' 'Kirsten Dunst' 'Willem Dafoe' 'James Franco']]
[['Titanic' 'Titanic' 'Titanic' 'Titanic']
 ['The Great Gatsby' 'The Great Gatsby' 'The Great Gatsby'
  'The Great Gatsby']
 ['Spiderman' 'Spiderman' 'Spiderman' 'Spiderman']]
['Toby Maguire' 'Kirsten Dunst' 'Willem Dafoe' 'James Franco']

# Task 2

In [7]:
cars=pd.Series(["M5","GLS","Creta","Explorer","Cruise","MKZ","Charger"],index=["BMW","Mercedes","Hyundai","Ford","Chevrolet","Lincoln","Dodge"])

In [8]:
cars[cars.str.contains('a')]

Hyundai      Creta
Dodge      Charger
dtype: object

In [9]:
cars.index.name = "manufacturer"

In [10]:
cars

manufacturer
BMW                M5
Mercedes          GLS
Hyundai         Creta
Ford         Explorer
Chevrolet      Cruise
Lincoln           MKZ
Dodge         Charger
dtype: object

# Task 3

In [11]:
fruit=[["Banana",2,"True","fall"],["Apple",5,"True","spring"],["Guava",1,"False","fall"],["Pineapple",4,"True","spring"],["Litchi",1,"False","Summer"]]
fruit=pd.DataFrame(fruit,columns=['Fruits',"Number_of_seeds","Edible","Season"])
fruit['Color']=np.nan
fruit['Color']='Unknown'
fruit

      Fruits  Number_of_seeds Edible  Season    Color
0     Banana                2   True    fall  Unknown
1      Apple                5   True  spring  Unknown
2      Guava                1  False    fall  Unknown
3  Pineapple                4   True  spring  Unknown
4     Litchi                1  False  Summer  Unknown

In [12]:
fruit.iloc[0:2,0:2]

   Fruits  Number_of_seeds
0  Banana                2
1   Apple                5

In [13]:
def seed_count_calculator(seed):
    s=0
    for i in seed:
        s+=i
    return s 

fruit[['Number_of_seeds']].apply(seed_count_calculator,axis='rows')

Number_of_seeds    13
dtype: int64

In [14]:
fruit.sort_values(by = 'Fruits')

      Fruits  Number_of_seeds Edible  Season    Color
1      Apple                5   True  spring  Unknown
0     Banana                2   True    fall  Unknown
2      Guava                1  False    fall  Unknown
4     Litchi                1  False  Summer  Unknown
3  Pineapple                4   True  spring  Unknown

In [15]:
m = fruit[['Number_of_seeds']].idxmax()
print(m)
fruit._get_value(int(m), 'Fruits')

Number_of_seeds    1
dtype: int64

'Apple'

In [16]:
fruit.to_csv('Fruits_data.csv')
var = pd.read_csv('Fruits_data.csv')
var.drop(['Unnamed: 0'],axis=1)

      Fruits  Number_of_seeds  Edible  Season    Color
0     Banana                2    True    fall  Unknown
1      Apple                5    True  spring  Unknown
2      Guava                1   False    fall  Unknown
3  Pineapple                4    True  spring  Unknown
4     Litchi                1   False  Summer  Unknown